/* 
    Put hex color codes here for reference
    Pale Purple Pantone: #F6DEF6
    Purple-toned Dark Grey: #685A68
    Purple-toned light grey: #B6A7B6
    contrast seafoam: #C2EEEA
    contrast dark seafoam: #8CB6B3
*/
.contacticon {
    font-size: 30px;
    color: black;
}

#locate {
    font-size: 16px;
}

nav {
    background: linear-gradient(to right, #FFCED9, #B5AEEC);
}

.navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#resume {
    color: purple;
    background-color: lightgrey;
    border: 0;
    border-radius: 6px;
}

#resume:hover {
    color: lightgrey;
    background-color: purple;
}